[{$smarty.block.parent}]
<link rel="stylesheet" href="[{$oViewConf->getModuleUrl('suaboorderstat')}]out/src/css/orderstat.css">
<script>
    function openStatisticsCsv(){
        document.getElementById("stats_csv").value = "1";
        document.mgstatuserdef.submit();
        document.getElementById("stats_csv").value = "0";
    }
</script>